<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Inicio <ion-icon name="person" routerLink="/login" class="login" ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="card-background-page" padding>
    <ion-card class="welcome-card">
        <img src="./assets/imgs/logoecobak.jpeg" alt="" />
        <ion-card-header>
          <ion-card-title>Bienvenidos a BioBak</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Esta aplicación facilita los datos necesarios para la complementación de la información básica de las especies de <b>flora y fauna</b> en el Municipio de Bacalar </p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label><ion-card-title><b>EVENTOS</b></ion-card-title></ion-label>
          
        </ion-list-header>
        <ion-item-divider></ion-item-divider>
      </ion-list>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-card *ngFor="let item of items" [routerLink]="['/event-info', item.payload.doc.id]">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.payload.doc.data().image">
          </ion-avatar>
          <h1 style="margin:10px;">{{item.payload.doc.data().title}}</h1>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-badge style="margin-left: 15px;" color="success">Fecha: {{item.payload.doc.data().date}} </ion-badge>
            <ion-badge style="margin-left: 25px;" color="primary">Hora Evento: {{item.payload.doc.data().hrs}} </ion-badge>
          </ion-col>
      </ion-row>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Todavia no hay información
  </div>
</ion-content>