<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title >Información: {{item.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
  </div>
  <ion-card>
      <ion-card-content>
        <ion-card-title>
          <p><b>Nombre: </b>{{item.title}}</p>
          </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <p><b>Nombre científico: </b>{{item.scientificName}}</p>
          <p><b>Nombre maya: </b>{{item.mayaName}}</p>
          <p><b>Clase: </b>{{item.type}}</p>
          </ion-card-title>
      </ion-card-content>
    </ion-card>
  <ion-card>
    <ion-card-content style="text-align: justify;">
        <b style="color:black">Descripción: </b>
        <ion-text  color="dark">{{item.description}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
